@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{

    background-image: url('../imagens/fundo-black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: top center;
    background-attachment: fixed;

    backdrop-filter: blur(6px);

}

main{
    
    height: 100vh;
}

#phone{
    height: 627px;
    width: 311px;

    position: absolute;
    top:50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;


}
#tela{
    position: absolute;
    top:80px;
    left: 22px;

    width: 267px;
    height: 471px;
}

#social-media {
    text-align: right;
}
#social-media img{
    width: 50px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 5px 15px rgba(202, 202, 202, 0.37);
}

#social-media img:hover{
    transform: translate(-3px , -3px);

    box-shadow: 0px 5px 17px rgba(255, 255, 255, 0.473);

    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.603);



}